/* @import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css'; */
/* @import 'primevue/resources/themes/saga-blue/theme.css'; */
/* @import 'primevue/resources/themes/mdc-light-indigo/theme.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow: hidden;
}

.p-password-input{
  @apply bg-gray-100 p-4 w-full rounded-none  outline-none;
}
.p-card{
  box-shadow: none;
}
.p-card-body{
  @apply p-4 pt-2;
}
.p-card-content{
  @apply p-0;
}

.p-calendar .p-inputtext {
  @apply !bg-gray-100 !outline-none;
}
.p-button-outlined {
  @apply !bg-white
}
.p-button .p-button-label{
@apply font-normal;
}
.p-progressbar-label{
  @apply hidden;
}
.sidebar-info .p-sidebar-header{
  @apply p-6 pt-10 bg-gray-200 flex justify-between;
}
.sidebar-info .p-sidebar-content{
  @apply p-0;
}

.column-red .p-progressbar-value{
  background: #ef4444;
}
.column-orange .p-progressbar-value{
  background: #f59c0a;
}
.column-green .p-progressbar-value{
  background: #00c48b;
}
.custom-doughnut-chart {
  width: 200px;
  height: 200px;
}

.custom-table thead th,
.custom-table tbody td {
  @apply bg-white text-sm p-1 ;
}
.custom-table tbody td{
 @apply text-gray-200;
}
.custom-table tbody tr:not(:last-child) td {
  border-bottom: 1px solid #dddddd;
}

/* table blue */
.custom-table-blue thead th {
  @apply bg-primary-900 text-white font-semibold text-sm p-1;
}
.custom-table-blue tbody td{
 @apply bg-white text-gray-200 p-1 text-sm;
}
.custom-table-blue tbody tr:not(:last-child) td {
  border-bottom: 1px solid #dddddd;
}

/* table yellow */
.custom-table-yellow thead th {
  @apply bg-yellow-400 text-black font-semibold text-sm p-1;
}
.custom-table-yellow tbody td{
 @apply bg-white text-gray-200 p-1 text-sm;
}
.custom-table-yellow tbody tr:not(:last-child) td {
  border-bottom: 1px solid #dddddd;
}

/* table variable */
.custom-table-variable thead th:nth-child(1) {
  @apply !bg-white !text-black font-semibold text-sm p-1;
}
.custom-table-variable thead th:nth-child(even) {
  @apply bg-yellow-400 text-black font-semibold text-sm p-1;
}
.custom-table-variable thead th:nth-child(odd) {
  @apply bg-primary-900 text-white font-semibold text-sm p-1;
}

.custom-table-variable tbody td{
 @apply bg-white text-gray-200 p-1 text-sm;
}
.custom-table-variable tbody tr:not(:last-child) td {
  border-bottom: 1px solid #dddddd;
}

.p-invalid{
  border-color: #e24c4c !important;
  border-width: 1px !important;
}
.custom-checkbox .p-checkbox-box {
  border: 2px solid #8d8e93; 
  background: white; 
}
.custom-checkbox .p-checkbox-box.p-highlight{
  background: #3B82F6;
  border: 2px solid  #3B82F6;
}
.custom-checkbox .p-checkbox-icon {
  color: white; 
 
}


.custom-slider {
  background: linear-gradient(to right, green 0%, red 100%);
}

.custom-slider .p-slider-range {
  background-color: #ff8e12;
}
.custom-slider .p-slider-handle {
  background-color: white;
  border: 2px solid #8d8e93;
  width: 20px;
  height: 20px;
  top: 0;
  position: relative;
}


.slider-value {
  flex: 1;
  text-align: center;
}